.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(234, 229, 229, 0.25);
    height: 80px;
    gap:20px;
}

.navbar-logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    flex-shrink: 0;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    list-style: none;
    align-items: center;
    flex-shrink: 0;
}

.nav-link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: rgba(192, 199, 205, 0.677);
    border-radius: 20px ;
}

.nav-login {
    background-color: #ff7b00; 
    color: white !important;
    border-radius: 20px;
}

.nav-search {
    position: relative; 
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 350px;  
}


.search-input {
    border-radius: 20px;
    padding: 10px 14px;
    font-size: 14px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    background-color: #fff;
}
.search-input:focus {
    border-color: #aaa;
    background-color: #fff;
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ddd;
}

.nav-logout {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}

.search-dropdown {
    position: absolute;
    top: 110%; 
    left: 0;
    width: 100%; 
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    max-height: 300px;
    overflow-y: auto;
    z-index: 100;
    padding: 0;
    list-style: none;
}


.search-item {
    padding: 10px 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.search-item:hover {
    background: #f5f5f5;
}

